//step_two
@media screen and (max-width:1023px) {
  .content {
    .rightDiv {

      .insure {
        width: 20rem;
        #insuretab2 {
          .footerphone {
            font-size: .875rem!important;
          }
          .footerlasttip {
            font-size: .75rem!important;
            line-height: normal;
          }
          .insureitem {
            &:nth-child(1) {
              .header {
                margin-bottom: .8rem!important;
              }
              .two_info {
                margin-bottom: 0;
                .insurelable {
                  font-size: .9375rem;
                  display: block;
                  line-height: 1.5rem;
                  &:nth-child(2) {
                    margin-top: 0!important;
                  }
                }
              }
            }
            &:nth-of-type(2) {
              // background-color: red;
              .header {
                padding-top: 1rem;
                margin-bottom: 0!important;

              }
             /deep/ .form {
               margin-top: .7rem!important;
                .form_info {
                  margin-top: 0!important;
                  .lis:nth-child(1) {
                    .linefeeditem {
                      margin-top: 0!important;
                      .ant-form-item-label {
                        padding-bottom: .5rem!important;
                      }

                    }
                  } 
                  .lis:nth-child(2) {
                    margin-top: 0!important;
                    .addressSelect {
                      margin-top: .7rem!important;
                      .ant-form-item-label {
                      padding-bottom: .5rem!important;
                      }
                      .ant-form-item-control-wrapper {
                        .ant-form-item-control {
                          #chose_address {
                        .add_input {
                          margin-right: .6375rem!important;
                        }
                        .select_opt {
                          width: 8rem!important;
                          &:nth-of-type(1) {
                            width: 11.5625rem!important;
                            margin-bottom: 1rem;

                          }
                          &:nth-of-type(2) {
                            margin-right: .9375rem!important;
                          }
                        }

                          }
                        }
                      }
                    }
                  }
                  .lis:nth-child(3) {
                    .linefeeditem {
                      margin-top: .2rem!important;
                      .inputBox {
                        .tip {
                          display: inline-block;
                          line-height: 1rem;
                          margin-top: .5rem;
                        }
                      }
                    }
                  }
                  
                }
              }
            }
            &:nth-of-type(3) {
              .header {
                margin-bottom: .3rem!important;
              }
              .form {
                &:nth-child(1) {
                  .form_info {
                    background-color: red;
                  }
                  /deep/ .linefeeditem{
                    // background-color: red;
                    margin-top: 0!important;
                  }

                }
               }
               .addbtn {
                //  background-color: red;
                margin: .3rem 0 2rem 0;
               }
            }

           /deep/ .inputBox {
            .ant-input {
              padding-bottom: .1875rem;
            }
            .bgTest  {
            top: 0!important;

            }
           }
            .footertip {
              margin-bottom: 1.25rem!important;
              font-size: .75rem!important;
              line-height: normal;
            }
           
            .addbtn {
              border: .0625rem solid #d81f49;
              width: 12.125rem;
              line-height: 2.0625rem;
              height: 2.0625rem;
              img {
                vertical-align: baseline;
              }
              .o_btn {
                font-size: .875rem;
                line-height: 2.0625rem;


              }
            }
            .benefiBox  {
              margin-top: 1.5rem;
              padding: 0;
              width: 20rem;
              margin-left: -1.375rem;
              .benefiCon {
                width: 19.8rem;
                padding: 1.275rem;
                padding-top: 2.125rem;
                .header {
                  padding-top: 0;
                  padding-bottom: .2rem;
                }
               .form {
               
                  /deep/  .form_info {
                    .lis{
                      &:nth-child(2) {
                        margin-top:0;
                        margin-bottom: 3rem;
                        .linefeeditem {
                          margin-top:0!important;
                          .ant-form-item-label {
                            padding-bottom: .5rem!important;
                          }

                        } 
                      }
                      &:nth-child(3) {
                        .linefeeditem {
                          .ant-form-item-control-wrapper {
                            float: right;
                            .ant-form-item-control {
                              margin-bottom: 0;
                              .commselectBox {
                                // background-color: red;
                                width: auto!important;
                              }
                            }
                          }
                        }
                      }
                      &:nth-child(5) {
                        .timeH5 {
                          .formDiv {
                            // background-color: red;
                            .titleFont {
                              &::before{
                                content: "*";
                                color: #d81f49;
                                font-size: .875rem;
                                margin-right: .125rem;
                              }
                            }
                          }
                        }
                       }

                      .commselectBox {
                        .ant-select-selection{
                          width: 9.8rem!important;
                            height: 2.25rem;
                            line-height: 2.25rem;
                          .ant-select-selection__rendered {
                            height: 2.25rem;
                            line-height: 2.25rem!important;
                            .ant-select-selection__placeholder {
                              font-size: .875rem;
                            }
                            .ant-select-selection-selected-value {
                              font-size: .875rem;
                            }
    
                          }
                        } 
                      }
                        &:nth-child(1) {
                          .ant-form-item-label {
                            margin-right: .4rem;
                          }
                          .ant-form-item-control-wrapper{
                            width:8.8125rem !important;
                            float: right;
                            .commselectBox {
                              width:8.8125rem !important;
                              .searchCountry {
                                font-size: .875rem;
                              }
                              .ant-select-selection {
                                width: 8.8125rem!important;
                                height: 2.25rem;
                                line-height: 2.25rem;
      
                              }
                            }
                           
                          }
                        }
                      }
                    }
                  }
          /deep/  .form:nth-of-type(1){
              .form_info{
                  .lis {
                    &:nth-of-type(3){
                      .linefeeditem {
                        .ant-form-item-control-wrapper {
                          .commentBox  {
                            .searchCountry {
                              right: 0;
                              top: -2.5rem;
                              font-size: .875rem;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .form:nth-of-type(2) {
                // background-color: red;
                /deep/ .form_info {
                  margin-top: 1.3rem;
                  .lis {
                    .linelabelitem,.linefeeditem {
                      .ant-form-item-label {
                        height: 2.375rem
                      }
                      .ant-form-item-label,.ant-form-item-control-wrapper {

                        display: block;
                        width: 100%;
                      }
                      .ant-form-item-control-wrapper {
                        width: 100%!important;

                        .ant-form-item-control {
                          padding-left: 0;
                          width: 100%!important;
                          .ant-form-item-children {
                            padding-left: 0;
                            width: 100%!important;

                            span {
                              &:first-child {
                                padding-left: .875rem;
                                display: block;
                                background-color: #E1E1E1;
                                width: 100%;

                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .form:nth-of-type(3) {
                // background-color: red;
                /deep/ .form_info {
                  .lis {
                    .linefeeditem {
                      .ant-form-item-control-wrapper {
                        float:none;
                        .ant-form-item-control {
                          margin-bottom: .3rem;
                        }
                      }
                    }
                    .switch {
                      .lb,.left {
                        border: .0625rem solid #ccc;
                      }
                      .rb {
                        border: .0625rem solid  #d81f49 ;
                      }
                      .lb,.rb {
                        width: 11rem;
                        height: 2.0625rem;
                        line-height: 1.7625rem!important;
                        
                        .left,.right  {
                          width: 1.1875rem;
                          height: 1.1875rem;
                          top: .35rem;
                        }
                        .text {
                          margin-left: 1.8rem;
                          font-size: .875rem;
                          line-height: .6875rem!important;

                        }

                      }
    
                    }
                  }
                }
               
              }
           /deep/ .form:nth-of-type(4) {
              /deep/ .form_info {
                margin-top: 0!important;
                .lis {
                  &:nth-child(1) {
                    .linefeeditem {
                margin-top: 0!important;

                      .ant-form-item-control-wrapper {
                        width: 100%!important;
                      }
                    }
                  }
                  &:nth-child(2) {
                    margin-bottom: 0;
                    .linefeeditem  {
                      .ant-form-item-control-wrapper {
                        .ant-form-item-control {
                          margin-bottom: 0;
                        }
                      }
                    }
                  } 
                  &:nth-child(3) {
                    .linefeeditem  {
                      margin-top: 1rem!important;
                    }
                  } 
                }
              }
            }
          }
        }
            .form {
             /deep/ .form_info {
                .linefeeditem {
                  .ant-form-item-label {
                    label {
                      font-size: .9375rem!important;
                    }
                  }
                }
              }
            }

            &:nth-child(2) {
              /deep/.form {
                .form_info {
                  margin-top: 1.4375rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// @media screen and (min-width:1024px) {
  .rightDiv {
    .insure {
      width: 34.15rem;
    }
  }
  .step_two {
      //底部电话
      .footerphone {
        margin: 3rem 0!important;
      }
    .insureitem  {
     
      //增加受益人
      .benefiBox {
        width: 40rem;
        margin-top: 3.9rem;
        padding-top: 2.3125rem;
        padding-left: 2.0625rem;
        padding-bottom: 3.4375rem;
        .benefiCon {
          width: 31.4375rem;
          .header {
            padding-top: 0;
          }
         /deep/ .form {
            &:nth-of-type(1) {
              //受益人中的下拉
              .commselectBox {
                .ant-select {
                  height: 3rem;
                  line-height: 3rem;
                  .ant-select-selection {
                    height: 3rem;
                  line-height: 3rem;
                  .ant-select-selection__rendered {
                    height: 3rem;
                    line-height: 3rem!important;
                  }
                  }
                }
              }
              .form_info {
                margin-top: 2.6rem;
                .lis {
                  &:nth-child(2) {
                    margin-top: 3.4rem;
                    .linefeeditem {
                      .ant-form-item-label {
                        padding-bottom: 1.4rem;
                      }
                    }
                  }
                  &:nth-child(3) {
                    .linefeeditem {
                      margin-top: 3.5rem;
                    }
                  } 
                  &:nth-child(4) {
                    .linefeeditem {
                      margin-top: 3.1rem;
                        .ant-form-item-label {
                          padding-bottom: 1.5rem;
                        }
                    }
                  } 
                  &:nth-child(5) {
                    .timePC {
                      .formDiv {
                        padding-left: 0;
                        .titleFont {
                          margin-bottom: 1.4rem;
                        }
                        .rihgtThis {
                          .formInput {
                            font-size: 1.125rem;
                          }
                          .selectImg {
                            display: none!important;
                          }
                        }
                      }
                    }
                  } 
                }
              }
            }
            &:nth-of-type(2) {
              .form_info {
                margin-top: 4.5rem;
                .lis {
                  .linelabelitem {
                    .ant-form-item-control-wrapper {
                      .ant-form-item-control {
                        background-color: #E1E1E1;
                        .ant-form-item-children {
                          span {
                            height: 3rem;
                            line-height: 3rem;
                          }
                        }
                      }

                    }
                  }
                }
              }
            }
            &:nth-of-type(3) {
              .form_info {
                margin-top: 5.3rem;
              }
            } 
            &:nth-of-type(4) {
              .form_info {
                margin-top: 4.2rem;
                .lis {
                  &:nth-child(1) {
                    .linefeeditem {
                      .ant-form-item-label {
                        padding-bottom: 1.8rem;
                      }
                    }
                  }
                  &:nth-child(2) {
                    margin-top: 3.9rem;
                    .linefeeditem {
                      .ant-form-item-label {
                        padding-bottom: 1.2rem;
                      }
                      //新增受益人-地址
                      // .ant-form-item-control-wrapper {
                      //   .ant-form-item-control {
                      //     #chose_address {
                      //       .add_input {
                      //         width: 15.875rem;
                      //         margin-right: 2.0625rem;
                      //       }
                      //       .select_opt {
                      //         width: 15.875rem!important;
                      //         &:nth-of-type(1) {
                      //           margin-bottom: 2rem;
                      //         }
                      //         &:nth-of-type(2) {
                      //           margin-right: 2.0625rem;
                      //         }
                      //       }
                      //     }
                      //   }
                      // }
                    }
                  } 
                  &:nth-child(3) {
                    .linefeeditem {
                      margin-top: 2.8rem;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }


      &:nth-of-type(1) {
        .header {
          margin-bottom: 2.5875rem!important;
        }
        .two_info {
          .insurelable {
            &:nth-child(2) {
              margin-top: 1.375rem!important;
            }
          }
        }
      }
      &:nth-of-type(2) {
        .header {
          padding-top: 5.8rem;
        }
       /deep/ #two-one {

         .form_info {
           margin-top: 3.2rem;
            .lis {
              &:nth-child(1) {
                .linefeeditem {
                  margin-bottom: 1rem;
                  .ant-form-item-label {
                    margin-bottom: 2.0625rem;
                  }
                 
                }
              }
              &:nth-child(2) {
                margin-top: 1rem;
                .ant-form-item-label {
                  padding-bottom: 1rem;
                }
                .ant-form-item-control-wrapper {
                  .ant-form-item-control {
                    #chose_address {
                      .add_input {
                        width: 15.875rem;
                        margin-right: 2.0625rem;
                      }
                      .select_opt {
                        width: 15.875rem!important;
                        &:nth-of-type(1) {
                          margin-bottom: 2rem;
                        }
                        &:nth-of-type(2) {
                          margin-right: 2.0625rem;
                        }
                      }
                    }
                  }
                }
              } 
              &:nth-child(3) {
                .linefeeditem  {
                  margin-top: 2.1rem;
                  .tip {
                    margin-top: 1rem;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-of-type(3) {
        .header {
          padding-top: 4.3rem;
        }
        /deep/ #two-two {
          .form_info {
            margin-top: 3.2rem;
            .lis {
              .linefeeditem {
                margin-bottom: 0;
              }
            }
          }
        }
        .addBenef {
          /deep/ #two-three {
            .form_info {
              margin-top: 3.3rem;
            }
          }
        }
      }
    }
  }
// }