//step_two
@media screen and (max-width:1023px) {
  .content {
    .rightDiv {

      .insure {
        .step_two {
          .footerphone {
            font-size: .875rem!important;
          }
          .footerlasttip {
            font-size: .75rem!important;
            line-height: normal;
          }
          .insureitem {
           /deep/ .inputBox {
            .ant-input {
              padding-bottom: .1875rem;
            }
            .bgTest  {
            top: 0!important;

            }
           }
            .footertip {
              margin-bottom: 1.25rem!important;
              font-size: .75rem!important;
              line-height: normal;
            }
           
            .addbtn {
              border: .0625rem solid #d81f49;
              width: 12.125rem;
              line-height: 2.0625rem;
              height: 2.0625rem;
              img {
                vertical-align: baseline;
              }
              .o_btn {
                font-size: .875rem;
                line-height: 2.0625rem;


              }
            }
            .benefiBox  {
              padding: 0;
              width: 20rem;
              margin-left: -1.375rem;
              .benefiCon {
                width: 19.8rem;
                padding: 1.275rem;
               .form {
               
                  /deep/  .form_info {
                    .lis{
                      .commselectBox {
                        .ant-select-selection{
                            height: 2.25rem;
                            line-height: 2.25rem;
                          .ant-select-selection__rendered {
                            height: 2.25rem;
                            line-height: 2.25rem;
                            .ant-select-selection__placeholder {
                              font-size: .875rem;
                            }
                            .ant-select-selection-selected-value {
                              font-size: .875rem;
                            }
    
                          }
                        } 
                      }
                        &:nth-child(1) {
                          .ant-form-item-label {
                            margin-right: .4rem;
                          }
                          .ant-form-item-control-wrapper{
                            width:9.8125rem !important;
                            .commselectBox {
                              width:9.8125rem !important;

                              .ant-select-selection {
                                width: 9.8125rem!important;
                                height: 2.25rem;
                                line-height: 2.25rem;
      
                              }
                            }
                           
                          }
                        }
                       
                      }
                    }
                  }
          /deep/  .form:nth-of-type(1){
              .form_info{
                  .lis {
                    &:nth-of-type(3){
                      .linefeeditem {
                        .ant-form-item-control-wrapper {
                          .commentBox  {
                            .searchCountry {
                              right: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .form:nth-of-type(3) {
                /deep/ .form_info {
                  .lis {
                    .switch {
                      .lb,.left {
                        border: .0625rem solid #ccc;
                      }
                      .rb {
                        border: .0625rem solid  #d81f49 ;
                      }
                      .lb,.rb {
                        width: 11rem;
                        height: 2.0625rem;
                        line-height: 1.7625rem!important;
                        
                        .left,.right  {
                          width: 1.1875rem;
                          height: 1.1875rem;
                          top: .35rem;
                        }
                        .text {
                          margin-left: 1.8rem;
                          font-size: .875rem;
                          line-height: .6875rem!important;

                        }

                      }
    
                    }
                  }
                }
               
              }
           /deep/ .form:nth-of-type(4) {
              /deep/ .form_info {
                .lis {
                  &:nth-child(1) {
                    .linefeeditem {
                      .ant-form-item-control-wrapper {
                        width: 100%!important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
            .form {
             /deep/ .form_info {
                .linefeeditem {
                  .ant-form-item-label {
                    label {
                      font-size: .9375rem!important;
                    }
                  }
                }
              }
            }
            &:nth-child(1) {
              .two_info {
                margin-bottom: 0;
                .insurelable {
                  font-size: .9375rem;
                }
              }
            }
            &:nth-child(2) {
              /deep/.form {
                .form_info {
                  margin-top: 1.4375rem;
                }
              }
            }
          }
        }
      }
    }
  }
}