@media  screen and (min-width: 1024px) and (max-width: 1139px) {
  .contentThis {
    .container {
      padding-top: 7.015rem;
      min-height: 26.69rem;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    .contentItem {
      background-color: #fff;
      padding: 1.144rem 1.98rem;
      margin-bottom: 0.801rem;
    }
    .select_color {
      color: #d81f49;
    }

    .tabMenu {
      margin: 0 0 1.9825rem;
      //margin: 0 auto;
    }
    .imgDivImage{
      padding-left: 3.5075rem;
    }
    .tabMenu /deep/ .ant-menu-horizontal {
      text-align: center;
      background: #f5f5f5;
      display: flex;
      width: 61%;
      margin-left: 19.5%;
      justify-content: center;
      border-bottom: 0.0625rem solid #737373;

      .ant-menu-item {

        // width: 33%;
        /*margin: 0 2.5rem -0.2rem;*/
        margin: 0 10px 0rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 1.25rem 0.366rem;
        // width: 15%;
        // text-align: center;
        // margin: 0 9.16% -0.2rem 9.16%;
      }
    }

    .ant-menu-horizontal > .ant-menu-item-selected {
      border-bottom: 0.1525rem solid #d81f49;
      color: #d81f49 !important;
      top: 0.1525rem;

      font-weight: 600 !important;
    }

    .ant-menu-horizontal > .ant-menu-item-active {
      // border-bottom: 0.25rem solid #d81f49;
      // font-weight: 600!important;

      z-index: 20 !important;
    }

    .ant-menu-horizontal > .ant-menu-item {
      top: 0.1525rem;
      color: #3a3a3a;

    }

    .thisBtn {
      cursor: pointer;
    }
    .h5-menu-item{
      display: none;
    }
    .thisBtn {
      width: 10.561rem;
      line-height: 2.1731rem;
    }
  }

  .contentThis {
    // background: #f3f3f3;
    background: #f5f5f5;
    padding-bottom: 2.6688rem;
    position: relative;

  }


  .tabDiv {
    margin-top: 3.43rem;
    height: 2.974rem;
    display: flex;
    background: #f3f3f3;
    position: relative;
    padding: 0 20%;
    border-bottom: 0.0625rem solid #737373;
    margin-bottom: 1.9840rem;

    .tabItem {
      flex: 1;
      width: 33%;
      float: left;
      margin: auto;
      text-align: center;
      padding: 0.7625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .item {
        font-size: 1rem;
        font-family: PingFang TC;
        font-weight: 400;
        // color: rgba(216, 31, 73, 1);
        line-height: 1.4488rem;
      }

      img {
        height: 60%;
      }
    }

    .borderB {
      float: left;
      width: 100%;
      height: 0.1525rem;
      position: absolute;
      bottom: -0.1525rem;
      transition: all 0.4s;
      left: 0.7625rem;
      background: $primary-color;
    }
  }

  .contentDiv {
    width: 61%;
    background: #f5f5f5;
    height: 100%;
    margin: 0 auto;
   /* width: 38.875rem;
    margin: 0 auto;*/
    .contentItem {
      background-color: #fff;
    }

    .thisTitle {
      font-weight: bold;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 0.75rem;
      color: #3A3A3A;
      color:#3A3A3A;
      line-height: 1.3125rem;
      border-bottom: .0625rem solid #dadada;
    }
    .pxborder::before {
      display: none
    }
    .thisDetail {
      font-size: 0.625rem;
      color: #6A6A6A;
      line-height: 1.3125rem;
      flex: 1;
      font-weight:400;
      // .title_2  {
      // }
    }
  }

  .thisBtn {
    border: 0.125rem solid rgba(216, 31, 73, 1);
    margin: 1.5625rem auto 0;
    background: #F5F5F5 !important;
    color: $primary-color;
    font-weight: 600;
    text-align: center;
    font-size: 0.6875rem;
    border-radius: 1.875rem;

    .rotate {
      transform: rotate(180deg);
    }

    img {
      width: 0.5719rem;
      margin-left: 0.875rem;
      transition: all 0.4s;
    }
  }

  .helpDiv {
    z-index: 3;
    // margin-top: 3.125rem;
    height: 13.0625rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 0 0 0;

    .imgbox {
      width: 100%;
    }

    .img1 {
      width: 4.9944rem;
      height: 5.3756rem;
      margin-top: 2.75rem;
      margin-bottom: 1.25rem;
    }

    .imgDiv {
      font-size: 0.8388rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      width: 50%;
      height: 16.875rem;
      float: left;
      margin: auto;
      margin-top: -2.75rem;
      .helpinfo-h5{
        display: none;
      }
      .helpinfo-pc {
        display: block;
        font-size: 0.8125rem;
        line-height: 1.4488rem;

        padding-left: 5.75rem;
        text-align: left;
        color: #3a3a3a;
      }
    }
  }


  .wave {
    position: absolute;
    width: 100%;
    height: 15.5rem;
    // top: -2.5rem;
    bottom: 0;
    left: 0;
    background: url('../../assets/home/Together_BG_Wave-PC.png') no-repeat center / 100% 100%;
  }

  .containerDiv {
    z-index: 3;

  }

  .detailThis {
    margin: auto;
    width: 50%;
    height: 10.29375rem;
    float: left;
    position: relative;
    // overflow: hidden;
    // padding: 1.25rem;
    font-size: 0.75rem;
    color: #3a3a3a;
    z-index: 99;
    flex: 1;
    display: flex;
    align-items: flex-end;

    .font1 {
      border-bottom: 0.0625rem solid #E8e8e8;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      line-height: 1.5;
    }

    .thisOth {
      position: absolute;
      bottom: 0;
      padding: 0 0 0 5rem;
      // margin-bottom: 2.5rem;
      border-left: 0.0625rem solid #b0b0b0;

    }

    .detailItem,
    .font1 {
      margin-bottom: 0.2288rem;
      font-size: 0.8125rem;
      // font-size: 1.375em;
    }
  }
}
